[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/sujee/mongodb-atlas-vector-search/blob/main/quickstarts/quickstart-1-getting-started-atlas-python.ipynb)


# Getting Started with MongoDB Atlas and Python


### Overview

This is a companion notebook for this [TODO - Quick start guide](#)
It will demonstrate the following:

- üëâ Connect to Atlas instance
- üëâ Run a few sample queries


### What you need to run this notebook

- a (free) MongoDB Atlas Account
- An Atlas instance running in the cloud with sample data loaded
- and connection credentials

Follow this [TODO quick start guide](#) to set this up before proceeding.

### How to run

This notebook can be run on Google Colab and stand alone python development environments.  Click here to run on colab.

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/sujee/mongodb-atlas-vector-search/blob/main/quickstarts/quickstart-1-getting-started-atlas-python.ipynb)


References:

- https://www.mongodb.com/languages/python/pymongo-tutorial

## Step-1: Setup Atlas

We will need to have Atlas setup.

Follow [instructions here](https://github.com/sujee/mongodb-atlas-vector-search/blob/main/lab-1-atlas-setup/setup-atlas.md)

Also the [TODO quick start guide](#) has more information.

## Step-2: Configuration

We need to setup Atlas connection credentials into a configuration setting `ATLAS_URI`

See the [TODO quick start guide](#) on how to get this value.

**Note: we are keeping this very simple for the purpose of this quick start.  For production systems, consider using libraries like [python dotenv](https://pypi.org/project/python-dotenv/) to get configuration settings**

In [ ]:
# We will keep all global variables in an object to not pollute the global namespace.
class MyConfig(object):
    pass

MY_CONFIG = MyConfig()

MY_CONFIG.ATLAS_URI = "Enter your Atlas URI value here"  ## TODO

## Step-3: Install dependencies

We will install required libraries

In [3]:
!pip install pymongo==4.6.2

## Step-4: Atlas Client

Here is a handy class that has common Atlas functions.

For full implementation [see here](https://github.com/sujee/mongodb-atlas-vector-search/blob/main/AtlasClient.py)

In [5]:
from pymongo import MongoClient

class AtlasClient ():

    def __init__ (self, altas_uri, dbname):
        self.mongodb_client = MongoClient(altas_uri)
        self.database = self.mongodb_client[dbname]

    ## A quick way to test if we can connect to Atlas instance
    def ping (self):
        self.mongodb_client.admin.command('ping')

    def get_collection (self, collection_name):
        collection = self.database[collection_name]
        return collection

    def find (self, collection_name, filter = {}, limit=0):
        collection = self.database[collection_name]
        items = list(collection.find(filter=filter, limit=limit))
        return items

## Step-5: Connect to Atlas

See if we can connect to our Atlas cloud instance.

If this step fails, make sure 'connect from anywhere' is enabled on your Atlas network configuration (See [TODO quickstart guide](#))

In [6]:
MY_CONFIG.DB_NAME = 'sample_mflix'
MY_CONFIG.COLLECTION_NAME = 'embedded_movies'

atlas_client = AtlasClient (MY_CONFIG.ATLAS_URI, MY_CONFIG.DB_NAME)
atlas_client.ping()
print ('Connected to Atlas instance! We are good to go!')

Connected to Atlas instance! We are good to go!

## Step-6: Sample Query of Movies

Now that we are connected to our instance.  Let's try some queries

In [7]:
print ('======== Finding some sample movies ========================')
movies = atlas_client.find (collection_name=MY_CONFIG.COLLECTION_NAME, limit=5)
print (f"Found {len (movies)} movies")
for idx, movie in enumerate (movies):
    print(f'{idx+1}\nid: {movie["_id"]}\ntitle: {movie["title"]},\nyear: {movie["year"]}\nplot: {movie["plot"]}\n')
print ('================================')

======== Finding some sample movies ========================
Found 5 movies
1
id: 573a1390f29313caabcd5293
title: The Perils of Pauline,
year: 1914
plot: Young Pauline is left a lot of money when her wealthy uncle dies. However, her uncle's secretary has been named as her guardian until she marries, at which time she will officially take ...

2
id: 573a1391f29313caabcd68d0
title: From Hand to Mouth,
year: 1919
plot: A penniless young man tries to save an heiress from kidnappers and help her secure her inheritance.

3
id: 573a1391f29313caabcd820b
title: Beau Geste,
year: 1926
plot: Michael "Beau" Geste leaves England in disgrace and joins the infamous French Foreign Legion. He is reunited with his two brothers in North Africa, where they face greater danger from their...

4
id: 573a1391f29313caabcd8268
title: The Black Pirate,
year: 1926
plot: Seeking revenge, an athletic young man joins the pirate band responsible for his father's death.

5
id: 573a1391f29313caabcd8319
title: For Heaven's Sake,
year: 1926
plot: An irresponsible young millionaire changes his tune when he falls for the daughter of a downtown minister.

================================

### Query by an attribute

Let's find movies came out in year 1999.  

We pass the filter `{"year" : 1999}`

In [8]:
print ('=======  Finding movies from year 1999 =========================')
movies_1999 = atlas_client.find(collection_name=MY_CONFIG.COLLECTION_NAME, filter={"year": 1999})
print (f"Found {len (movies_1999)} movies from year 1999.  Here is a sample...")
for idx, movie in enumerate (movies_1999[:5]):
    print(f'{idx+1}\nid: {movie["_id"]}\ntitle: {movie["title"]},\nyear: {movie["year"]}\nplot: {movie["plot"]}\n')

=======  Finding movies from year 1999 =========================
Found 81 movies from year 1999.  Here is a sample...
1
id: 573a139af29313caabcf0cfd
title: Three Kings,
year: 1999
plot: In the aftermath of the Persian Gulf War, 4 soldiers set out to steal gold that was stolen from Kuwait, but they discover people who desperately need their help.

2
id: 573a139af29313caabcf0e61
title: Beowulf,
year: 1999
plot: A sci-fi update of the famous 6th Century poem. In a beseiged land, Beowulf must battle against the hideous creature Grendel and his vengeance seeking mother.

3
id: 573a139af29313caabcf0e6c
title: The Mummy,
year: 1999
plot: An American serving in the French Foreign Legion on an archaeological dig at the ancient city of Hamunaptra accidentally awakens a Mummy.

4
id: 573a139af29313caabcf0e95
title: The 13th Warrior,
year: 1999
plot: A man, having fallen in love with the wrong woman, is sent by the sultan himself on a diplomatic mission to a distant land as an ambassador. Stopping at a Viking village port to restock on supplies, he finds himself unwittingly embroiled on a quest to banish a mysterious threat in a distant Viking land.

5
id: 573a139af29313caabcf0edf
title: The Mod Squad,
year: 1999
plot: Three minor delinquints (Danes, Ribisi, and Epps) are recruited by a cop (Farina) working undercover to bust a cop/drug ring. When the officer who recruited them is killed, they go above ...

## Congrats!  Lab is Complete ! üëè